@{
    ViewBag.Title = "Data Analytics";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>

            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Number of Employees per Job Role'
                },
              
                xAxis: {
                    categories: Job Role
                },
                yAxis: {
                    title: {
                        text: 'Number of Employyes'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Male',
                    mael
                }]
            });
        });
    });
   
   
</script>
